
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    .navbar {
      background-color: rgba(0, 0, 0, 0.4) !important;
    }

    .carousel-item img {
      height: 100vh;
      object-fit: cover;
      filter: brightness(50%);
    }

    .hero-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      z-index: 10;
    }

    .navbar-brand span {
      font-weight: bold;
    }
  /* footer css */
  .footer{
    background-color: rgb(5, 48, 5)
}
.quick{
    color: yellow;
}
.info{
    color: yellow;
}
.other{
    color: yellow;
}
.hr{
    color: white;
}
.text-decoration-none{
    color: yellow;
}
.img{
    color: white;
}
/* news css */
.letter{
    border: 1px solid black ;
    width: 1200px;
    height: 150px;
    background-color: yellow;
}
.mt-3{
    position: relative;
    left: 90px;
}
.subscribe{
    position: relative;
    left: 90px;
}
/* update css */
.more {
    position: relative;
    left: 540px;
    top: 40px;

    background-color: red;
}

.first {
    position: relative;
    left: 60px;
}

.second {
    position: relative;
    left: 60px;
}

.third {
    position: relative;
    left: 60px;
}

.fourth {
    position: relative;
    left: 60px;
}

.read1 {
    color: rgb(243, 8, 8);
    position: relative;
    bottom: 8%;
}

.read2 {
    color: rgb(243, 8, 8);
    position: relative;
    bottom: 8%;
}

.read3 {
    color: rgb(243, 8, 8);
    position: relative;
    bottom: 8%;
}

.read4 {
    color: rgb(243, 8, 8);
    position: relative;
    bottom: 8%;
}

.dolor {
    position: relative;
    left: 60px;
}
  