
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    .navbar {
      background-color: rgba(0, 0, 0, 0.4) !important;
    }

    .carousel-item img {
      height: 100vh;
      object-fit: cover;
      filter: brightness(50%);
    }

    .hero-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      z-index: 10;
    }

    .navbar-brand span {
      font-weight: bold;
    }
  